* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box;
}

.first_box {
    border-bottom: 1px solid rgb(224, 217, 217);
    padding: 0 30px;
    display: flex;
    background-color: #ffffff;
}

#image {
    background-image: url(image/meeshoLogo.svg);
    width: 10vw;
    background-repeat: no-repeat;
    margin: 15px 30px;
}

#search {
    margin: 8px 0;
    height: 25px;
    width: 100%;
}

input::placeholder {
    font-size: 8px;
}

#name_1 {
    font-size: 10px;
    font-weight: lighter;
    color: rgb(83, 83, 83);
    margin: 20px;
    white-space: nowrap;
}

#first_name {
    border-right: 2px solid black;
    cursor: pointer;
}

#name_2 {
    font-size: 10px;
    font-weight: lighter;
    color: rgb(83, 83, 83);
    margin: 20px 10px;
    white-space: nowrap;
}

#second_name {
    border-right: 1px solid grey;
    cursor: pointer;
}

#profile {
    color: rgb(126, 115, 115);
    font-size: 15px;
    margin: 20px 0;
    cursor: pointer;
}

#cart {
    color: rgb(126, 115, 115);
    font-size: 15px;
    margin: 20px 10px;
    cursor: pointer;
}

.second_box {
    border-bottom: 1px solid rgb(224, 217, 217);
    height: 20px;
    padding: 0 55px;
    margin: 10px 0;
}

#element {
    gap: 15px;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#element p {
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#element p:hover {
    border-bottom: 2px solid purple;
}

.image_1 {
    background-image: url(image/img_1.webp);
    height: 28vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    position: absolute;
    top: 200px;
    right: 50px;
}

#first {
    margin-top: 20px;
    font-size: 30px;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

#second {
    margin-top: 15px;
    font-size: 35px;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

#button_1 {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    padding: 7px 0;
    background-color: #ffffff;
    color: rgb(56, 5, 58);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    border-color: white;
    font-size: larger;
    cursor: pointer;
    border-style: none;
    text-align: center;
}

#button_1:active {
    box-shadow: 3px 2px 3px 1px rgb(127 108 108);
}

.pannel {
    height: 20px;
    background-color: rgb(248, 233, 236);
    cursor: pointer;
}

#box {
    border: 1px solid rgb(238, 214, 218);
    height: 30px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
}

#box i {
    font-size: 15px;
}

#box p {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.images {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 15px;
}

#img_2 {
    height: 100px;
    width: 100px;
    background-image: url(image/img_2.webp);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#img_3 {
    width: 100px;
    background-image: url(image/img_3.webp);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#img_4 {
    width: 100px;
    background-image: url(image/img_4.webp);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#img_5 {
    width: 110px;
    background-image: url(image/img_5.webp);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#img_6 {
    width: 100px;
    background-image: url(image/img_6.webp);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#img_7 {
    width: 100px;
    background-image: url(image/img_7.webp);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#img_8 {
    width: 100px;
    background-image: url(image/img_8.webp);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

@keyframes moveElmentX {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(-5px);
    }
}

#img_2:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

#img_3:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

#img_4:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

#img_5:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

#img_6:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

#img_7:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

#img_8:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

.img_9 {
    height: 37vw;
    width: 100%;
    background-image: url(image/img_9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.btn_1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#button_2 {
    height: 50px;
    width: 200px;
    font-size: 20px;
    position: absolute;
    left: 13%;
    bottom: 20px;
    font-family: mier book;
    border-radius: 7px;
    border: 1px solid rgb(255, 209, 130);
    background: rgb(63, 31, 17);
    color: rgb(255, 209, 130);
    cursor: pointer;
}


.images_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30%;
    top: 18%;
    right: 5%;
}

.images_3 div {
    height: 125px;
    width: 125px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#img_10 {
    background-image: url(image/img_10.webp);
}

#img_11 {
    background-image: url(image/img_11.webp);
}

#img_12 {
    background-image: url(image/img_12.webp);
}

#img_13 {
    background-image: url(image/img_13.webp);
}

#img_10:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

#img_11:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

#img_12:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

#img_13:hover {
    animation: moveElmentX 1s ease-in-out infinite;
}

.container_3 {
    padding: 30px 40px;
}

#text {
    display: flex;
    justify-content: space-between;
}

#text h3 img {
    height: 30px;
    width: 40px;
}

#text h3 {
    font-size: 32px;
    font-weight: bold;
    font-family: marie book;
}

#text p {
    font-size: 16px;
    font-weight: lighter;
    font-family: marie book;
}

#text p img {
    height: 13px;
    width: 17px;
}


.images_4 {
    display: flex;
    margin-top: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#img_14 {
    background-image: url("image/img_14.webp");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    flex: 0 0 auto;
}

#img_15 {
    width: 200px;
    background-image: url("image/img_15.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    flex: 0 0 auto;
}

#img_16 {
    width: 200px;
    background-image: url("image/img_16.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    flex: 0 0 auto;
}

#img_17 {
    width: 200px;
    background-image: url("image/img_17.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    flex: 0 0 auto;
}

#img_18 {
    width: 200px;
    background-image: url("image/img_18.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    flex: 0 0 auto;
}

#img_19 {
    width: 200px;
    background-image: url("image/img_19.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    flex: 0 0 auto;
}

#img_20 {
    width: 200px;
    background-image: url("image/img_20.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    flex: 0 0 auto;
}

@keyframes Tag {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.container_4 {
    background-color: rgb(240, 233, 255);
    overflow: hidden;
}

.images_5 {
    display: flex;
    gap: 20px;
    padding: 20px;
    animation: moving 20s linear infinite;
}

@keyframes moving {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-40%);
    }
}

@keyframes movingE {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(-5px);
    }
}

.images_5:hover {
    animation-play-state: paused;
}

#item_1:hover {
    animation: movingE 1s ease-in-out infinite;
}

#item_2:hover {
    animation: movingE 1s ease-in-out infinite;
}

#item_3:hover {
    animation: movingE 1s ease-in-out infinite;
}

#item_4:hover {
    animation: movingE 1s ease-in-out infinite;
}

#item_5:hover {
    animation: movingE 1s ease-in-out infinite;
}

#item_6:hover {
    animation: movingE 1s ease-in-out infinite;
}

#item_7:hover {
    animation: movingE 1s ease-in-out infinite;
}

#item_8:hover {
    animation: movingE 1s ease-in-out infinite;
}

#item_1 #item_2 #item_3 #item_4 #item_5 #item_6 #item_7 #item_8 {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item_1 img {
    border-radius: 10px;
    height: 60px;
    width: 100px
}

#item_2 img {
    border-radius: 10px;
    height: 60px;
    width: 100px
}

#item_3 img {
    border-radius: 10px;
    height: 60px;
    width: 100px
}

#item_4 img {
    border-radius: 10px;
    height: 60px;
    width: 100px
}

#item_5 img {
    border-radius: 10px;
    height: 60px;
    width: 100px
}

#item_6 img {
    border-radius: 10px;
    height: 60px;
    width: 100px
}

#item_7 img {
    border-radius: 10px;
    height: 60px;
    width: 100px
}

#item_8 img {
    border-radius: 10px;
    height: 50px;
    width: 80px
}

.img_22 {
    background-image: url(image/img_22.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: 28vw;
    width: 100%;
    position: relative;
}

#button_4 button {
    position: absolute;
    top: 70%;
    left: 5%;
    height: 40px;
    width: 250px;
    border-style: none;
    font-size: 24px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(88, 10, 70);
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
}

#button_4 button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 9px;
}

.flex {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 5%;
    gap: 20px;
}

#button_5 button {
    padding: 6px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 10px;
    color: rgb(88, 10, 70);
    border: 1px solid rgb(255, 157, 0);
    background-color: rgb(255, 245, 229);
    font-weight: 650;
    cursor: pointer;
}

.img_23 {
    height: 280px;
    width: 160px;
    background-image: url(image/img_23.webp);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: end;
}

.img_24 {
    height: 280px;
    width: 160px;
    background-image: url(image/img_24.webp);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: end;
    justify-content: center;
}

.img_25 {
    height: 280px;
    width: 160px;
    background-image: url(image/img_25.webp);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: end;
    justify-content: center;
}

.img_26 {
    height: 280px;
    width: 160px;
    background-image: url(image/img_26.webp);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: end;
    justify-content: center;
}

@keyframes hover {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(-5px);
    }
}

.img_23:hover {
    animation: hover 1s ease-in-out infinite;
}

.img_24:hover {
    animation: hover 1s ease-in-out infinite;
}

.img_25:hover {
    animation: hover 1s ease-in-out infinite;
}

.img_26:hover {
    animation: hover 1s ease-in-out infinite;
}

.container_6 {
    padding: 30px;
}

#product {
    font-size: 26px;
    margin-bottom: 20px;
}

#product p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.box {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.box_1 {
    height: 30px;
    width: 300px;
    border: 1px solid rgb(243, 235, 235);
    border-radius: 5px;
    margin-top: 10px;
}

#label {
    font-size: 13px;
    padding: 15px 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(133, 129, 129);
    font-weight: 500;
}

.select {
    border: none;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 0 0 0 87px;
}

.select option {
    border: none;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.filter {
    border-bottom: 1px solid rgb(219, 214, 214);
    padding: 10px;
}

.box_2 {
    border: 1px solid rgb(241, 237, 237);
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

#firstName {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-left: -6px;
}

#secondName {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: rgb(102, 96, 96);
    margin-left: -6px;
}


.product_category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgb(214, 204, 204);
}

.product_category p {
    font-family: "Mier demi";
    font-weight: 600;
    font-size: 14px;
    color: rgb(53, 53, 67);
}


.product_category img {
    height: 14px;
    width: 15px;
}

.images_7 {
    display: flex;
    flex-wrap: wrap;
}

.box_3 {
    margin-left: 50px;
}

.box_4 {
    border: 1px solid rgb(230, 219, 219);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.img_27 img {
    height: 250px;
    width: 200px;
}

.content_1 {
    margin: 7px;
}

#names {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(173, 163, 163);
    font-weight: 400;
}

.Prices {
    margin-top: 5px;
}

.price_1 {
    display: flex;

}

#rupes {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#rupes_1 {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(158, 148, 148);
    text-decoration: line-through;
    margin-top: 4px;
    padding-left: 6px;
}

#rupes_2 {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(3, 82, 3);
    font-weight: 500;
    margin-top: 4px;
    padding-left: 6px;
}

.rate {
    position: relative;
    height: 17px;
    width: 37px;
    padding: 2px;
    margin-top: 20px;
}

.rate_1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 13px;
    background: rgb(3, 141, 99);
    color: #ffffff;
    border-radius: 16px;
    padding: 0 3px 2px 5px;
}

.rate_1 img {
    height: 8px;
    width: 8px;
}

#Reviews {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: rgb(194, 187, 187);
    width: 100px;
    position: absolute;
    top: 4px;
    left: 43px;
}

footer {
    background-color: rgba(229, 235, 229, 0.288);
    padding: 100px;
}

.container_7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}


.boxes_1 h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: rgb(48, 45, 45);

}

.boxes_1 p {
    color: rgb(145, 130, 130);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.img_28 img {
    height: 40px;
    width: 125px;
}

.img_29 img {
    border-radius: 8px;
    height: 40px;
    width: 125px;
}

.boxes_2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(141, 127, 127);
}

.boxes_3 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(131, 117, 117);
}

.boxes_4 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(48, 43, 43);
}

.imges {
    display: flex;
    gap: 10px;
}

.imges img {
    margin-top: 10px;
    height: 15px;
    width: 15px;
}

.boxes_5 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(48, 43, 43);
}

#text_1 {
    height: 142px;
    width: 200px;
    font-size: 10px;
}

.About {
    padding: 20px;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(224, 217, 217);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.About img {
    height: 20px;
    width: 20px;
}

.About p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgba(51, 48, 48, 0.849);
}

@media screen and (min-width:1024px) and (max-width:1279px) {

    .btn {
        top: 30%;
    }

    #first {
        font-size: 20px;
    }

    #second {
        font-size: 25px;
    }

    #button_1 {
        padding: 0 15px;
        width: 100px;
        font-size: 15px;
    }

    #button_2 {
        font-size: 20px;
        height: 35px;
        width: 125px;
        bottom: 15px;
    }

    .images_3 {
        top: 10%;
    }

    .img_23 {
        height: 190px;
        width: 100px;
    }

    .img_24 {
        height: 190px;
        width: 100px;
    }

    .img_25 {
        height: 190px;
        width: 100px;
    }

    .img_26 {
        height: 190px;
        width: 100px;
    }

    #button_5 button {
        font-size: 9px;
        width: 100px;
        height: 30px;
    }

    #button_4 button {
        font-size: 15px;
        width: 125px;
        height: 30px;
    }

    .flex {
        gap: 50px;
    }

    .container_6 {

        padding: 20px;
    }

    #product p {
        font-size: 20px;
    }

    .box_3 {
        margin-left: 10px;
    }

    .img_27 img {
        height: 250px;
        width: 200px;
    }


    .box_4 {
        margin: 5px;
    }

    footer {
        padding: 50px;
    }

    h2 {
        font-size: 20px;
    }

    .boxes_1 p {
        font-size: 15px;
    }

    .boxes_2 p {
        font-size: 15px;
    }

    .boxes_3 p {
        font-size: 15px;
    }

    .boxes_5 p {
        font-size: 10px;
    }

    .container_7 {
        gap: 13px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {

    #image {
        width: 25vw;
    }

    .btn {
        top: 30%;
    }

    #first {
        font-size: 15px;
    }

    #second {
        font-size: 20px;
    }

    #button_1 {
        padding: 0 10px;
        width: 100px;
        font-size: 13px;
    }

    .images {
        padding: 0 50px;
    }

    #button_2 {
        font-size: 15px;
        height: 30px;
        width: 125px;
        bottom: 15px;
    }


    .images_3 {
        top: 10%;
    }

    .images_3 {
        margin: 2% 0;

    }

    #img_11 {
        height: 100px;
        width: 100px;
    }

    #img_12 {
        height: 100px;
        width: 100px;
    }

    #img_13 {
        height: 100px;
        width: 100px;
    }

    #img_10 {
        height: 100px;
        width: 100px;
    }

    #text h3 {
        font-size: 20px;
    }

    #text h3 img {
        height: 18px;
        width: 23px;
    }

    #text p {
        font-size: 12px;
    }

    .flex {
        gap: 30px;
    }

    .img_23 {
        height: 125px;
        width: 90px;
    }

    .img_24 {
        height: 125px;
        width: 90px;
    }

    .img_25 {
        height: 125px;
        width: 90px;
    }

    .img_26 {
        height: 125px;
        width: 90px;
    }

    #button_5 button {
        font-size: 9px;
        width: 100px;
        height: 30px;
    }

    #button_4 button {
        font-size: 15px;
        width: 125px;
        height: 30px;
    }

    .container_6 {
        padding: 15px;
    }

    .box {
        display: grid;
        grid-template-columns: 125px 2fr;
    }

    #product p {
        font-size: 15px;
    }

    .box_1 {
        width: 200px;
    }

    .box_2 {
        width: 200px;
    }

    #label {
        font-size: 10px;
    }

    .select {
        font-size: 10px;
        padding: 0 0 0 15px;
    }

    #firstName {
        font-size: 12px;
    }

    .product_category p {
        font-size: 12px;
    }

    .img_27 img {
        height: 125px;
        width: 120px;
    }

    .box_4 {
        margin: 7px;
        width: 120px;
    }

    #names {
        font-size: 12px;
    }

    #rupes {
        font-size: 12px;
    }

    #rupes_1 {
        font-size: 10px;
    }

    #rupes_2 {
        font-size: 10px;
    }

    .rate_1 p {
        font-size: 10px;
        text-align: center;
        padding-right: 6px;
    }

    #Reviews {
        font-size: 8px;
    }

    footer {
        padding: 30px;
    }

    h2 {
        font-size: 15px;
    }

    .boxes_1 p {
        font-size: 10px;
    }

    .boxes_2 p {
        font-size: 10px;
    }

    .boxes_3 p {
        font-size: 10px;
    }

    .boxes_4 p {
        font-size: 12px;
    }

    .boxes_5 p {
        font-size: 10px;
    }

    .img_28 img {
        height: 25px;
        width: 80px;
        border-radius: 5px;
    }

    .img_29 img {
        height: 25px;
        width: 80px;
        border-radius: 5px;
    }

    #text_1 {
        font-size: 8px;
    }

    .container_7 {
        gap: 13px;
    }

    .About {
        height: 20px;
        padding: 20px;
    }

    .About p {
        font-size: 12px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    #image {
        width: 50vw;
        margin: 20px 10px;
    }

    #search {
        height: 20px;
        margin: 10px 0;
    }

    #search::placeholder {
        font-size: 6px;
    }

    #name_1 {
        font-size: 8px;
        margin: 25px 0 25px 60px;
    }

    #name_2 {
        font-size: 8px;
        margin: 25px 10px;
    }

    #profile {
        font-size: 10px;
        margin: 25px 10px;
    }

    #cart {
        font-size: 10px;
        margin: 25px 0;
    }

    .btn {
        top: 30%;
    }

    #first {
        font-size: 10px;
    }

    #second {
        font-size: 15px;
    }

    #button_1 {
        padding: 0px;
        height: 20px;
        width: 60px;
        font-size: 6px;
    }

    #box p {
        font-size: 7px;
    }

    #box p i {
        font-size: 10px;
    }

    #img_2 {
        height: 50px;
    }

    .images {
        padding: 0 50px;
        margin: 20px 0;
    }

    #button_2 {
        font-size: 10px;
        height: 20px;
        width: 100px;
        bottom: 10px;
    }


    .images_3 {
        top: 10%;
    }

    #img_11 {
        height: 80px;
        width: 80px;
    }

    #img_12 {
        height: 80px;
        width: 80px;
    }

    #img_13 {
        height: 80px;
        width: 80px;
    }

    #img_10 {
        height: 80px;
        width: 80px;
    }

    #text h3 {
        font-size: 20px;
    }

    #text h3 img {
        height: 18px;
        width: 23px;
    }

    #text p {
        font-size: 12px;
    }

    #img_14 {
        height: 100px;
        width: 100px;
    }

    #img_15 {
        height: 100px;
        width: 100px;
    }

    #img_16 {
        height: 100px;
        width: 100px;
    }

    #img_17 {
        height: 100px;
        width: 100px;
    }

    #img_18 {
        height: 100px;
        width: 100px;
    }

    #img_19 {
        height: 100px;
        width: 100px;
    }

    #img_20 {
        height: 100px;
        width: 100px;
    }

    #img_21 {
        height: 100px;
        width: 100px;
    }

    #item_1 img {
        height: 60px;
        width: 100px;
    }

    #item_2 img {
        height: 60px;
        width: 100px;
    }

    #item_3 img {
        height: 60px;
        width: 100px;
    }

    #item_4 img {
        height: 60px;
        width: 100px;
    }

    #item_5 img {
        height: 60px;
        width: 100px;
    }

    #item_6 img {
        height: 60px;
        width: 100px;
    }

    #item_7 img {
        height: 60px;
        width: 100px;
    }

    #item_8 img {
        height: 60px;
        width: 100px;
    }

    .flex {
        gap: 20px;
    }

    .img_23 {
        height: 125px;
        width: 70px;
    }

    .img_24 {
        height: 125px;
        width: 70px;
    }

    .img_25 {
        height: 125px;
        width: 70px;
    }

    .img_26 {
        height: 125px;
        width: 70px;
    }

    #button_5 button {
        font-size: 10px;
        width: 80px;
        height: 25px;
    }

    #button_4 button {
        font-size: 10px;
        width: 100px;
        height: 25px;
    }

    .container_6 {
        padding: 20px;
    }

    .box {
        display: grid;
        grid-template-columns: 100px 2fr;
    }

    #product p {
        font-size: 15px;
    }

    .box_1 {
        width: 125px;
    }

    .box_2 {
        width: 125px;
    }

    #label {
        font-size: 10px;
    }

    .select {
        font-size: 7px;
        padding: 0px;
    }

    #firstName {
        font-size: 12px;
    }

    .product_category p {
        font-size: 10px;
    }

    .img_27 img {
        height: 120px;
        width: 100px;
    }

    .box_4 {
        margin: 4px;
        width: 120px;
    }

    #names {
        font-size: 12px;
    }

    #rupes {
        font-size: 12px;
    }

    #rupes_1 {
        font-size: 10px;
    }

    #rupes_2 {
        font-size: 10px;
    }

    .rate_1 p {
        font-size: 10px;
        text-align: center;
        padding-right: 6px;
    }

    #Reviews {
        font-size: 8px;
    }

    footer {
        padding: 30px;
    }

    h2 {
        font-size: 15px;
    }

    .boxes_1 p {
        font-size: 10px;
    }

    .boxes_2 p {
        font-size: 10px;
    }

    .boxes_3 p {
        font-size: 10px;
    }

    .boxes_4 p {
        font-size: 12px;
    }

    .boxes_5 p {
        font-size: 10px;
    }

    .img_28 img {
        height: 25px;
        width: 80px;
        border-radius: 5px;
    }

    .img_29 img {
        height: 25px;
        width: 80px;
        border-radius: 5px;
    }

    .boxes_5 {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #text_1 {
        font-size: 8px;
        text-align: center;
    }

    .container_7 {
        gap: 13px;
    }

    .About {
        height: 20px;
        padding: 20px;
    }

    .About p {
        font-size: 12px;
    }
}

@media (min-width:600px) {
    .btn {
        right: 4%;
        top: 25%;
    }

}

@media screen and (min-width:481px) and (max-width:575px) {
    #image {
        width: 50vw;
        margin: 20px 10px;
    }

    #search {
        height: 20px;
        margin: 10px 0;
    }

    #search::placeholder {
        font-size: 6px;
    }

    #name_1 {
        font-size: 8px;
        margin: 25px 0 25px 60px;
    }

    #name_2 {
        font-size: 8px;
        margin: 25px 10px;
    }

    #profile {
        font-size: 10px;
        margin: 25px 10px;
    }

    #cart {
        font-size: 10px;
        margin: 25px 0;
    }

    .btn {
        right: 5%;
        top: 23%;
    }

    #first {
        font-size: 10px;
    }

    #second {
        font-size: 12px;
    }

    #button_1 {
        padding: 0px;
        height: 20px;
        width: 60px;
        font-size: 6px;
    }

    #box p {
        font-size: 7px;
    }

    #box p i {
        font-size: 10px;
    }

    #img_2 {
        height: 50px;
    }

    .images {
        padding: 0 50px;
        margin: 20px 0;
    }

    #button_2 {
        font-size: 8px;
        height: 15px;
        width: 80px;
        bottom: 10px;
    }


    .images_3 {
        top: 15%;
    }

    #img_11 {
        height: 60px;
        width: 60px;
    }

    #img_12 {
        height: 60px;
        width: 60px;
    }

    #img_13 {
        height: 60px;
        width: 60px;
    }

    #img_10 {
        height: 60px;
        width: 60px;
    }

    #text h3 {
        font-size: 20px;
    }

    #text h3 img {
        height: 18px;
        width: 23px;
    }

    #text p {
        font-size: 12px;
    }

    #img_14 {
        height: 100px;
        width: 100px;
    }

    #img_15 {
        height: 100px;
        width: 100px;
    }

    #img_16 {
        height: 100px;
        width: 100px;
    }

    #img_17 {
        height: 100px;
        width: 100px;
    }

    #img_18 {
        height: 100px;
        width: 100px;
    }

    #img_19 {
        height: 100px;
        width: 100px;
    }

    #img_20 {
        height: 100px;
        width: 100px;
    }

    #img_21 {
        height: 100px;
        width: 100px;
    }

    #item_1 img {
        height: 50px;
        width: 80px;
    }

    #item_2 img {
        height: 50px;
        width: 80px;
    }

    #item_3 img {
        height: 50px;
        width: 80px;
    }

    #item_4 img {
        height: 50px;
        width: 80px;
    }

    #item_5 img {
        height: 50px;
        width: 80px;
    }

    #item_6 img {
        height: 50px;
        width: 80px;
    }

    #item_7 img {
        height: 50px;
        width: 80px;
    }

    #item_8 img {
        height: 50px;
        width: 80px;
    }

    .flex {
        /* gap: 20px; */
    }

    .img_23 {
        height: 125px;
        width: 60px;
    }

    .img_24 {
        height: 125px;
        width: 60px;
    }

    .img_25 {
        height: 125px;
        width: 60px;
    }

    .img_26 {
        height: 125px;
        width: 60px;
    }

    #button_5 button {
        margin-bottom: 12px;
        padding: 5px;
        font-size: 5px;
        width: 65px;
    }

    #button_4 button {
        font-size: 6px;
        width: 80px;
        height: 20px;
    }

    .container_6 {
        padding: 20px;
    }

    .box {
        display: grid;
        grid-template-columns: 1fr;
    }

    #product p {
        font-size: 13px;
    }

    .box_1 {
        width: 100%;
    }

    .box_2 {
        width: 100%;
    }

    #label {
        font-size: 12px;
    }

    .select {
        font-size: 8px;
        padding: 0 0 0 270px;
    }

    #firstName {
        font-size: 15px;
    }

    .product_category p {
        font-size: 13px;
    }

    .img_27 img {
        height: 140px;
        width: 110px;
    }

    .box_4 {
        margin: 5px;
        width: 120px;
    }

    #names {
        font-size: 12px;
    }

    #rupes {
        font-size: 12px;
    }

    #rupes_1 {
        font-size: 10px;
    }

    #rupes_2 {
        font-size: 10px;
    }

    .rate_1 p {
        font-size: 10px;
        text-align: center;
        padding-right: 6px;
    }

    #Reviews {
        font-size: 8px;
    }

    footer {
        padding: 30px;
    }

    h2 {
        font-size: 15px;
    }

    .boxes_1 p {
        font-size: 10px;
    }

    .boxes_2 p {
        font-size: 10px;
    }

    .boxes_3 p {
        font-size: 10px;
    }

    .boxes_4 p {
        font-size: 12px;
    }

    .boxes_5 p {
        font-size: 10px;
    }

    .img_28 img {
        height: 25px;
        width: 80px;
        border-radius: 5px;
    }

    .img_29 img {
        height: 25px;
        width: 80px;
        border-radius: 5px;
    }

    .boxes_5 {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #text_1 {
        font-size: 8px;
        text-align: center;
    }

    .container_7 {
        gap: 13px;
    }

    .About {
        height: 20px;
        padding: 20px;
    }

    .About p {
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {
    #image {
        width: 100vw;
        margin: 20px 10px;
    }

    #search {
        height: 20px;
        width: 100%;
        margin: 10px 0;
    }

    #search::placeholder {
        font-size: 6px;
    }

    #name_1 {
        font-size: 8px;
        margin: 25px 10px;
    }

    #name_2 {
        font-size: 8px;
        margin: 25px 10px;
    }

    #profile {
        font-size: 10px;
        margin: 25px 10px;
    }

    #cart {
        font-size: 10px;
        margin: 25px 0;
    }

    .btn {
        right: 0%;
        top: 15%;
    }

    #first {
        font-size: 10px;
    }

    #second {
        font-size: 12px;
    }

    #button_1 {
        padding: 0px;
        height: 20px;
        width: 60px;
        font-size: 6px;
    }

    #box p {
        font-size: 7px;
    }

    #box p i {
        font-size: 10px;
    }

    #img_2 {
        height: 50px;
    }

    .images {
        padding: 0 50px;
        margin: 20px 0;
    }

    #button_2 {
        font-size: 8px;
        height: 15px;
        width: 80px;
        bottom: 10px;
    }


    .images_3 {
        top: 15%;
    }

    #img_11 {
        height: 60px;
        width: 60px;
    }

    #img_12 {
        height: 60px;
        width: 60px;
    }

    #img_13 {
        height: 60px;
        width: 60px;
    }

    #img_10 {
        height: 60px;
        width: 60px;
    }

    #text h3 {
        font-size: 20px;
    }

    #text h3 img {
        height: 18px;
        width: 23px;
    }

    #text p {
        font-size: 12px;
    }

    #img_14 {
        height: 100px;
        width: 100px;
    }

    #img_15 {
        height: 100px;
        width: 100px;
    }

    #img_16 {
        height: 100px;
        width: 100px;
    }

    #img_17 {
        height: 100px;
        width: 100px;
    }

    #img_18 {
        height: 100px;
        width: 100px;
    }

    #img_19 {
        height: 100px;
        width: 100px;
    }

    #img_20 {
        height: 100px;
        width: 100px;
    }

    #img_21 {
        height: 100px;
        width: 100px;
    }

    #item_1 img {
        height: 50px;
        width: 80px;
    }

    #item_2 img {
        height: 50px;
        width: 80px;
    }

    #item_3 img {
        height: 50px;
        width: 80px;
    }

    #item_4 img {
        height: 50px;
        width: 80px;
    }

    #item_5 img {
        height: 50px;
        width: 80px;
    }

    #item_6 img {
        height: 50px;
        width: 80px;
    }

    #item_7 img {
        height: 50px;
        width: 80px;
    }

    #item_8 img {
        height: 50px;
        width: 80px;
    }

    .flex {
        gap: 5px;
    }

    .img_23 {
        height: 100px;
        width: 55px;
    }

    .img_24 {
        height: 100px;
        width: 55px;
    }

    .img_25 {
        height: 100px;
        width: 55px;
    }

    .img_26 {
        height: 100px;
        width: 55px;
    }

    #button_5 button {
        padding: 5px;
        font-size: 5px;
        width: 50px;
    }

    #button_4 button {
        font-size: 6px;
        width: 80px;
        height: 20px;
    }

    .container_6 {
        padding: 20px;
    }

    .box {
        display: grid;
        grid-template-columns: 1fr;
    }

    #product p {
        font-size: 13px;
    }

    .box_1 {
        width: 100%;
    }

    .box_2 {
        width: 100%;
    }

    #label {
        font-size: 12px;
    }

    .select {
        font-size: 8px;
        padding: 0 0 0 200px;
    }

    #firstName {
        font-size: 15px;
    }

    .product_category p {
        font-size: 13px;
    }

    .img_27 img {
        height: 60px;
        width: 95px;
    }

    .box_4 {
        margin: 5px;
        width: 100px;
    }

    #names {
        font-size: 8px;
    }

    #rupes {
        font-size: 10px;
    }

    #rupes_1 {
        font-size: 8px;
    }

    #rupes_2 {
        font-size: 8px;
    }

    .rate_1 p {
        font-size: 8px;
        text-align: center;
        padding-right: 6px;
    }

    #Reviews {
        font-size: 6px;
    }

    footer {
        padding: 30px;
    }

    h2 {
        font-size: 15px;
    }

    .boxes_1 p {
        font-size: 10px;
    }

    .boxes_2 p {
        font-size: 10px;
    }

    .boxes_3 p {
        font-size: 10px;
    }

    .boxes_4 p {
        font-size: 12px;
    }

    .boxes_5 p {
        font-size: 10px;
    }

    .img_28 img {
        height: 25px;
        width: 80px;
        border-radius: 5px;
    }

    .img_29 img {
        height: 25px;
        width: 80px;
        border-radius: 5px;
    }

    .boxes_5 {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #text_1 {
        font-size: 8px;
        text-align: center;
    }

    .container_7 {
        gap: 13px;
    }

    .About {
        height: 20px;
        padding: 20px;
    }

    .About p {
        font-size: 12px;
    }
}